<nav class="navbar">
    <ul class="nav-list">
        <li><a href="/" class="nav-link nav-selected">Home</a></li>
        <li><a href="/find" class="nav-link">Find</a></li>
        <li><a href="/posts" class="nav-link">Post</a></li>
        <li><a href="/costs" class="nav-link">Find Ingredient Cost</a></li>
        <li><a href="/profile" class="nav-link">Edit Profile</a></li>
        <li><a href="/logout" class="nav-link">Logout</a></li>
    </ul>
</nav>