<nav class="navbar">
        <ul class="nav-list">
                <li><a href="/welcome" class="nav-link nav-selected">Home</a></li>
                <li><a href="/find" class="nav-link">Find</a></li>
                <li><a href="/posts" class="nav-link">Post</a></li>
                <li><a href="/costs" class="nav-link">Cost</a></li>
                <li><a href="/profile" class="nav-link">Edit Profile</a></li>
                <li><a href="/logout" class="nav-link">Logout</a></li>
        </ul>
</nav>

<!-- <nav class="navbar">
        <ul class="nav-list">
                <li><a href="/" class="nav-link nav-selected"><img src="../img/homeIcon.png">
                                <p class="linkLabel">Home</p>
                        </a></li>
                <li><img src="../img/findIcon.png"><a href="/find" class="nav-link">Find</a></li>
                <li><img src="../img/PostIcon.png"><a href="/posts" class="nav-link">Post</a></li>
                <li><img src="../img/costIcon.png"><a href="/costs" class="nav-link">Cost</a></li>
                <li><a href="/profile" class="nav-link">Edit Profile</a></li>
                <li><a href="/logout" class="nav-link">Logout</a></li>
        </ul>
</nav> -->