<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Cocktails</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/" class="nav-link nav-selected">Home</a></li>
            <li><a href="/find" class="nav-link">Find</a></li>
            <li><a href="/posts" class="nav-link">Post</a></li>
            <li><a href="/costs" class="nav-link">Find Ingredient Cost</a></li>
            <li><a href="/login" class="nav-link">Log in | | Sign in</a></li>
        </ul>
    </nav>

    <div class="welcome-box">
        <h1>Find A Cocktail</h1>
        <div class="welcome-content">
            <form>
                <label for="search">Search for a cocktail:</label>
                <input type="text" id="search" name="search" placeholder="Enter a cocktail" list="cocktail-list">
                <datalist id="cocktail-list">
                    <% if (drinks && drinks.length > 0) { %>
                        <% drinks.forEach(drink => { %>
                            <option value="<%= drink %>"><%= drink %></option>
                        <% }) %>
                    <% } %>
                </datalist>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</body>

</html>