<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Cocktail Hub</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/" class="nav-link nav-selected">Home</a></li>
            <li><a href="/find" class="nav-link">Find</a></li>
            <li><a href="/posts" class="nav-link">Post</a></li>
            <li><a href="/costs" class="nav-link">Find Ingredient Cost</a></li>
            <li><a href="/login" class="nav-link">Log in | | Sign in</a></li>
        </ul>
    </nav>

    <div class="welcome-box">
        <h1>Welcome to the Cocktail Hub</h1>
        <div class="welcome-content">
            <p>~</p>
            <p>Post Drink Lists</p>
            <p>&</p>
            <p>Find Ingredient Costs</p>
        </div>
    </div>
</body>

</html>